
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Glyphicons Pro Icons Demo</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/glyphicons.css" rel="stylesheet">
    <style type="text/css">
    .glyphicons-demo span {
        display: inline-block;
        width: 280px;
        line-height: 30px;
    }
    </style>
</head>

<body>

    <!-- Glyphicons Pro Icons -->
    <h3>Glyphicons Pro Icons</h3>
    <div class="row-fluid">
        <div class="glyphicons-demo">
            <span><i class="icon-glass"></i> icon-glass</span>
            <span><i class="icon-leaf"></i> icon-leaf</span>
            <span><i class="icon-dog"></i> icon-dog</span>
            <span><i class="icon-user"></i> icon-user</span>
            <span><i class="icon-girl"></i> icon-girl</span>
            <span><i class="icon-car"></i> icon-car</span>
            <span><i class="icon-user-add"></i> icon-user-add</span>
            <span><i class="icon-user-remove"></i> icon-user-remove</span>
            <span><i class="icon-film"></i> icon-film</span>
            <span><i class="icon-magic"></i> icon-magic</span>
            <span><i class="icon-envelope"></i> icon-envelope</span>
            <span><i class="icon-camera"></i> icon-camera</span>
            <span><i class="icon-heart"></i> icon-heart</span>
            <span><i class="icon-beach-umbrella"></i> icon-beach-umbrella</span>
            <span><i class="icon-train"></i> icon-train</span>
            <span><i class="icon-print"></i> icon-print</span>
            <span><i class="icon-bin"></i> icon-bin</span>
            <span><i class="icon-music"></i> icon-music</span>
            <span><i class="icon-note"></i> icon-note</span>
            <span><i class="icon-heart-empty"></i> icon-heart-empty</span>
            <span><i class="icon-home"></i> icon-home</span>
            <span><i class="icon-snowflake"></i> icon-snowflake</span>
            <span><i class="icon-fire"></i> icon-fire</span>
            <span><i class="icon-magnet"></i> icon-magnet</span>
            <span><i class="icon-parents"></i> icon-parents</span>
            <span><i class="icon-binoculars"></i> icon-binoculars</span>
            <span><i class="icon-road"></i> icon-road</span>
            <span><i class="icon-search"></i> icon-search</span>
            <span><i class="icon-cars"></i> icon-cars</span>
            <span><i class="icon-notes-2"></i> icon-notes-2</span>
            <span><i class="icon-pencil"></i> icon-pencil</span>
            <span><i class="icon-bus"></i> icon-bus</span>
            <span><i class="icon-wifi-alt"></i> icon-wifi-alt</span>
            <span><i class="icon-luggage"></i> icon-luggage</span>
            <span><i class="icon-old-man"></i> icon-old-man</span>
            <span><i class="icon-woman"></i> icon-woman</span>
            <span><i class="icon-file"></i> icon-file</span>
            <span><i class="icon-coins"></i> icon-coins</span>
            <span><i class="icon-airplane"></i> icon-airplane</span>
            <span><i class="icon-notes"></i> icon-notes</span>
            <span><i class="icon-stats"></i> icon-stats</span>
            <span><i class="icon-charts"></i> icon-charts</span>
            <span><i class="icon-pie-chart"></i> icon-pie-chart</span>
            <span><i class="icon-group"></i> icon-group</span>
            <span><i class="icon-keys"></i> icon-keys</span>
            <span><i class="icon-calendar"></i> icon-calendar</span>
            <span><i class="icon-router"></i> icon-router</span>
            <span><i class="icon-camera-small"></i> icon-camera-small</span>
            <span><i class="icon-dislikes"></i> icon-dislikes</span>
            <span><i class="icon-star"></i> icon-star</span>
            <span><i class="icon-link"></i> icon-link</span>
            <span><i class="icon-eye-open"></i> icon-eye-open</span>
            <span><i class="icon-eye-close"></i> icon-eye-close</span>
            <span><i class="icon-alarm"></i> icon-alarm</span>
            <span><i class="icon-clock"></i> icon-clock</span>
            <span><i class="icon-stopwatch"></i> icon-stopwatch</span>
            <span><i class="icon-projector"></i> icon-projector</span>
            <span><i class="icon-history"></i> icon-history</span>
            <span><i class="icon-truck"></i> icon-truck</span>
            <span><i class="icon-cargo"></i> icon-cargo</span>
            <span><i class="icon-compass"></i> icon-compass</span>
            <span><i class="icon-keynote"></i> icon-keynote</span>
            <span><i class="icon-paperclip"></i> icon-paperclip</span>
            <span><i class="icon-power"></i> icon-power</span>
            <span><i class="icon-lightbulb"></i> icon-lightbulb</span>
            <span><i class="icon-tag"></i> icon-tag</span>
            <span><i class="icon-tags"></i> icon-tags</span>
            <span><i class="icon-cleaning"></i> icon-cleaning</span>
            <span><i class="icon-ruller"></i> icon-ruller</span>
            <span><i class="icon-gift"></i> icon-gift</span>
            <span><i class="icon-umbrella"></i> icon-umbrella</span>
            <span><i class="icon-book"></i> icon-book</span>
            <span><i class="icon-bookmark"></i> icon-bookmark</span>
            <span><i class="icon-wifi"></i> icon-wifi</span>
            <span><i class="icon-cup"></i> icon-cup</span>
            <span><i class="icon-stroller"></i> icon-stroller</span>
            <span><i class="icon-headphones"></i> icon-headphones</span>
            <span><i class="icon-headset"></i> icon-headset</span>
            <span><i class="icon-warning-sign"></i> icon-warning-sign</span>
            <span><i class="icon-signal"></i> icon-signal</span>
            <span><i class="icon-retweet"></i> icon-retweet</span>
            <span><i class="icon-refresh"></i> icon-refresh</span>
            <span><i class="icon-roundabout"></i> icon-roundabout</span>
            <span><i class="icon-random"></i> icon-random</span>
            <span><i class="icon-heat"></i> icon-heat</span>
            <span><i class="icon-repeat"></i> icon-repeat</span>
            <span><i class="icon-display"></i> icon-display</span>
            <span><i class="icon-log-book"></i> icon-log-book</span>
            <span><i class="icon-adress-book"></i> icon-adress-book</span>
            <span><i class="icon-building"></i> icon-building</span>
            <span><i class="icon-eyedropper"></i> icon-eyedropper</span>
            <span><i class="icon-adjust"></i> icon-adjust</span>
            <span><i class="icon-tint"></i> icon-tint</span>
            <span><i class="icon-crop"></i> icon-crop</span>
            <span><i class="icon-vector-path-square"></i> icon-vector-path-square</span>
            <span><i class="icon-vector-path-circle"></i> icon-vector-path-circle</span>
            <span><i class="icon-vector-path-polygon"></i> icon-vector-path-polygon</span>
            <span><i class="icon-vector-path-line"></i> icon-vector-path-line</span>
            <span><i class="icon-vector-path-curve"></i> icon-vector-path-curve</span>
            <span><i class="icon-vector-path-all"></i> icon-vector-path-all</span>
            <span><i class="icon-font"></i> icon-font</span>
            <span><i class="icon-italic"></i> icon-italic</span>
            <span><i class="icon-bold"></i> icon-bold</span>
            <span><i class="icon-text-underline"></i> icon-text-underline</span>
            <span><i class="icon-text-strike"></i> icon-text-strike</span>
            <span><i class="icon-text-height"></i> icon-text-height</span>
            <span><i class="icon-text-width"></i> icon-text-width</span>
            <span><i class="icon-text-resize"></i> icon-text-resize</span>
            <span><i class="icon-left-indent"></i> icon-left-indent</span>
            <span><i class="icon-right-indent"></i> icon-right-indent</span>
            <span><i class="icon-align-left"></i> icon-align-left</span>
            <span><i class="icon-align-center"></i> icon-align-center</span>
            <span><i class="icon-align-right"></i> icon-align-right</span>
            <span><i class="icon-justify"></i> icon-justify</span>
            <span><i class="icon-list"></i> icon-list</span>
            <span><i class="icon-text-smaller"></i> icon-text-smaller</span>
            <span><i class="icon-text-bigger"></i> icon-text-bigger</span>
            <span><i class="icon-embed"></i> icon-embed</span>
            <span><i class="icon-embed-close"></i> icon-embed-close</span>
            <span><i class="icon-table"></i> icon-table</span>
            <span><i class="icon-message-full"></i> icon-message-full</span>
            <span><i class="icon-message-empty"></i> icon-message-empty</span>
            <span><i class="icon-message-in"></i> icon-message-in</span>
            <span><i class="icon-message-out"></i> icon-message-out</span>
            <span><i class="icon-message-plus"></i> icon-message-plus</span>
            <span><i class="icon-message-minus"></i> icon-message-minus</span>
            <span><i class="icon-message-ban"></i> icon-message-ban</span>
            <span><i class="icon-message-flag"></i> icon-message-flag</span>
            <span><i class="icon-message-lock"></i> icon-message-lock</span>
            <span><i class="icon-message-new"></i> icon-message-new</span>
            <span><i class="icon-inbox"></i> icon-inbox</span>
            <span><i class="icon-inbox-plus"></i> icon-inbox-plus</span>
            <span><i class="icon-inbox-minus"></i> icon-inbox-minus</span>
            <span><i class="icon-inbox-lock"></i> icon-inbox-lock</span>
            <span><i class="icon-inbox-in"></i> icon-inbox-in</span>
            <span><i class="icon-inbox-out"></i> icon-inbox-out</span>
            <span><i class="icon-cogwheel"></i> icon-cogwheel</span>
            <span><i class="icon-cogwheels"></i> icon-cogwheels</span>
            <span><i class="icon-picture"></i> icon-picture</span>
            <span><i class="icon-adjust-alt"></i> icon-adjust-alt</span>
            <span><i class="icon-database-lock"></i> icon-database-lock</span>
            <span><i class="icon-database-plus"></i> icon-database-plus</span>
            <span><i class="icon-database-minus"></i> icon-database-minus</span>
            <span><i class="icon-database-ban"></i> icon-database-ban</span>
            <span><i class="icon-folder-open"></i> icon-folder-open</span>
            <span><i class="icon-folder-plus"></i> icon-folder-plus</span>
            <span><i class="icon-folder-minus"></i> icon-folder-minus</span>
            <span><i class="icon-folder-lock"></i> icon-folder-lock</span>
            <span><i class="icon-folder-flag"></i> icon-folder-flag</span>
            <span><i class="icon-folder-new"></i> icon-folder-new</span>
            <span><i class="icon-edit"></i> icon-edit</span>
            <span><i class="icon-new-window"></i> icon-new-window</span>
            <span><i class="icon-check"></i> icon-check</span>
            <span><i class="icon-unchecked"></i> icon-unchecked</span>
            <span><i class="icon-more-windows"></i> icon-more-windows</span>
            <span><i class="icon-show-big-thumbnails"></i> icon-show-big-thumbnails</span>
            <span><i class="icon-show-thumbnails"></i> icon-show-thumbnails</span>
            <span><i class="icon-show-thumbnails-with-lines"></i> icon-show-thumbnails-with-lines</span>
            <span><i class="icon-show-lines"></i> icon-show-lines</span>
            <span><i class="icon-playlist"></i> icon-playlist</span>
            <span><i class="icon-imac"></i> icon-imac</span>
            <span><i class="icon-macbook"></i> icon-macbook</span>
            <span><i class="icon-ipad"></i> icon-ipad</span>
            <span><i class="icon-iphone"></i> icon-iphone</span>
            <span><i class="icon-iphone-transfer"></i> icon-iphone-transfer</span>
            <span><i class="icon-iphone-exchange"></i> icon-iphone-exchange</span>
            <span><i class="icon-ipod"></i> icon-ipod</span>
            <span><i class="icon-ipod-shuffle"></i> icon-ipod-shuffle</span>
            <span><i class="icon-ear-plugs"></i> icon-ear-plugs</span>
            <span><i class="icon-phone"></i> icon-phone</span>
            <span><i class="icon-step-backward"></i> icon-step-backward</span>
            <span><i class="icon-fast-backward"></i> icon-fast-backward</span>
            <span><i class="icon-rewind"></i> icon-rewind</span>
            <span><i class="icon-play"></i> icon-play</span>
            <span><i class="icon-pause"></i> icon-pause</span>
            <span><i class="icon-stop"></i> icon-stop</span>
            <span><i class="icon-forward"></i> icon-forward</span>
            <span><i class="icon-fast-forward"></i> icon-fast-forward</span>
            <span><i class="icon-step-forward"></i> icon-step-forward</span>
            <span><i class="icon-eject"></i> icon-eject</span>
            <span><i class="icon-facetime-video"></i> icon-facetime-video</span>
            <span><i class="icon-download-alt"></i> icon-download-alt</span>
            <span><i class="icon-mute"></i> icon-mute</span>
            <span><i class="icon-volume-down"></i> icon-volume-down</span>
            <span><i class="icon-volume-up"></i> icon-volume-up</span>
            <span><i class="icon-screenshot"></i> icon-screenshot</span>
            <span><i class="icon-move"></i> icon-move</span>
            <span><i class="icon-more"></i> icon-more</span>
            <span><i class="icon-brightness-reduce"></i> icon-brightness-reduce</span>
            <span><i class="icon-brightness-increase"></i> icon-brightness-increase</span>
            <span><i class="icon-circle-plus"></i> icon-circle-plus</span>
            <span><i class="icon-circle-minus"></i> icon-circle-minus</span>
            <span><i class="icon-circle-remove"></i> icon-circle-remove</span>
            <span><i class="icon-circle-ok"></i> icon-circle-ok</span>
            <span><i class="icon-circle-question-mark"></i> icon-circle-question-mark</span>
            <span><i class="icon-circle-info"></i> icon-circle-info</span>
            <span><i class="icon-circle-exclamation-mark"></i> icon-circle-exclamation-mark</span>
            <span><i class="icon-remove"></i> icon-remove</span>
            <span><i class="icon-ok"></i> icon-ok</span>
            <span><i class="icon-ban"></i> icon-ban</span>
            <span><i class="icon-download"></i> icon-download</span>
            <span><i class="icon-upload"></i> icon-upload</span>
            <span><i class="icon-shopping-cart"></i> icon-shopping-cart</span>
            <span><i class="icon-lock"></i> icon-lock</span>
            <span><i class="icon-unlock"></i> icon-unlock</span>
            <span><i class="icon-electricity"></i> icon-electricity</span>
            <span><i class="icon-ok-2"></i> icon-ok-2</span>
            <span><i class="icon-remove-2"></i> icon-remove-2</span>
            <span><i class="icon-cart-out"></i> icon-cart-out</span>
            <span><i class="icon-cart-in"></i> icon-cart-in</span>
            <span><i class="icon-left-arrow"></i> icon-left-arrow</span>
            <span><i class="icon-right-arrow"></i> icon-right-arrow</span>
            <span><i class="icon-down-arrow"></i> icon-down-arrow</span>
            <span><i class="icon-up-arrow"></i> icon-up-arrow</span>
            <span><i class="icon-resize-small"></i> icon-resize-small</span>
            <span><i class="icon-resize-full"></i> icon-resize-full</span>
            <span><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</span>
            <span><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</span>
            <span><i class="icon-circle-arrow-top"></i> icon-circle-arrow-top</span>
            <span><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</span>
            <span><i class="icon-play-button"></i> icon-play-button</span>
            <span><i class="icon-unshare"></i> icon-unshare</span>
            <span><i class="icon-share"></i> icon-share</span>
            <span><i class="icon-chevron-right"></i> icon-chevron-right</span>
            <span><i class="icon-chevron-left"></i> icon-chevron-left</span>
            <span><i class="icon-bluetooth"></i> icon-bluetooth</span>
            <span><i class="icon-euro"></i> icon-euro</span>
            <span><i class="icon-usd"></i> icon-usd</span>
            <span><i class="icon-gbp"></i> icon-gbp</span>
            <span><i class="icon-retweet-2"></i> icon-retweet-2</span>
            <span><i class="icon-moon"></i> icon-moon</span>
            <span><i class="icon-sun"></i> icon-sun</span>
            <span><i class="icon-cloud"></i> icon-cloud</span>
            <span><i class="icon-direction"></i> icon-direction</span>
            <span><i class="icon-brush"></i> icon-brush</span>
            <span><i class="icon-pen"></i> icon-pen</span>
            <span><i class="icon-zoom-in"></i> icon-zoom-in</span>
            <span><i class="icon-zoom-out"></i> icon-zoom-out</span>
            <span><i class="icon-pin"></i> icon-pin</span>
            <span><i class="icon-albums"></i> icon-albums</span>
            <span><i class="icon-rotation-lock"></i> icon-rotation-lock</span>
            <span><i class="icon-flash"></i> icon-flash</span>
            <span><i class="icon-google-maps"></i> icon-google-maps</span>
            <span><i class="icon-anchor"></i> icon-anchor</span>
            <span><i class="icon-conversation"></i> icon-conversation</span>
            <span><i class="icon-chat"></i> icon-chat</span>
            <span><i class="icon-male"></i> icon-male</span>
            <span><i class="icon-female"></i> icon-female</span>
            <span><i class="icon-asterisk"></i> icon-asterisk</span>
            <span><i class="icon-divide"></i> icon-divide</span>
            <span><i class="icon-snorkel-diving"></i> icon-snorkel-diving</span>
            <span><i class="icon-scuba-diving"></i> icon-scuba-diving</span>
            <span><i class="icon-oxygen-bottle"></i> icon-oxygen-bottle</span>
            <span><i class="icon-fins"></i> icon-fins</span>
            <span><i class="icon-fishes"></i> icon-fishes</span>
            <span><i class="icon-boat"></i> icon-boat</span>
            <span><i class="icon-delete"></i> icon-delete</span>
            <span><i class="icon-sheriffs-star"></i> icon-sheriffs-star</span>
            <span><i class="icon-qrcode"></i> icon-qrcode</span>
            <span><i class="icon-barcode"></i> icon-barcode</span>
            <span><i class="icon-pool"></i> icon-pool</span>
            <span><i class="icon-buoy"></i> icon-buoy</span>
            <span><i class="icon-spade"></i> icon-spade</span>
            <span><i class="icon-bank"></i> icon-bank</span>
            <span><i class="icon-vcard"></i> icon-vcard</span>
            <span><i class="icon-electrical-plug"></i> icon-electrical-plug</span>
            <span><i class="icon-flag"></i> icon-flag</span>
            <span><i class="icon-credit-card"></i> icon-credit-card</span>
            <span><i class="icon-keyboard-wireless"></i> icon-keyboard-wireless</span>
            <span><i class="icon-keyboard-wired"></i> icon-keyboard-wired</span>
            <span><i class="icon-shield"></i> icon-shield</span>
            <span><i class="icon-ring"></i> icon-ring</span>
            <span><i class="icon-cake"></i> icon-cake</span>
            <span><i class="icon-drink"></i> icon-drink</span>
            <span><i class="icon-beer"></i> icon-beer</span>
            <span><i class="icon-fast-food"></i> icon-fast-food</span>
            <span><i class="icon-cutlery"></i> icon-cutlery</span>
            <span><i class="icon-pizza"></i> icon-pizza</span>
            <span><i class="icon-birthday-cake"></i> icon-birthday-cake</span>
            <span><i class="icon-tablet"></i> icon-tablet</span>
            <span><i class="icon-settings"></i> icon-settings</span>
            <span><i class="icon-bullets"></i> icon-bullets</span>
            <span><i class="icon-cardio"></i> icon-cardio</span>
            <span><i class="icon-t-shirt"></i> icon-t-shirt</span>
            <span><i class="icon-pants"></i> icon-pants</span>
            <span><i class="icon-sweater"></i> icon-sweater</span>
            <span><i class="icon-fabric"></i> icon-fabric</span>
            <span><i class="icon-leather"></i> icon-leather</span>
            <span><i class="icon-scissors"></i> icon-scissors</span>
            <span><i class="icon-bomb"></i> icon-bomb</span>
            <span><i class="icon-skull"></i> icon-skull</span>
            <span><i class="icon-celebration"></i> icon-celebration</span>
            <span><i class="icon-tea-kettle"></i> icon-tea-kettle</span>
            <span><i class="icon-french-press"></i> icon-french-press</span>
            <span><i class="icon-coffe-cup"></i> icon-coffe-cup</span>
            <span><i class="icon-pot"></i> icon-pot</span>
            <span><i class="icon-grater"></i> icon-grater</span>
            <span><i class="icon-kettle"></i> icon-kettle</span>
            <span><i class="icon-hospital"></i> icon-hospital</span>
            <span><i class="icon-hospital-h"></i> icon-hospital-h</span>
            <span><i class="icon-microphone"></i> icon-microphone</span>
            <span><i class="icon-webcam"></i> icon-webcam</span>
            <span><i class="icon-temple-christianity-church"></i> icon-temple-christianity-church</span>
            <span><i class="icon-temple-islam"></i> icon-temple-islam</span>
            <span><i class="icon-temple-hindu"></i> icon-temple-hindu</span>
            <span><i class="icon-temple-buddhist"></i> icon-temple-buddhist</span>
            <span><i class="icon-bicycle"></i> icon-bicycle</span>
            <span><i class="icon-life-preserver"></i> icon-life-preserver</span>
            <span><i class="icon-share-alt"></i> icon-share-alt</span>
            <span><i class="icon-comments"></i> icon-comments</span>
            <span><i class="icon-flower"></i> icon-flower</span>
            <span><i class="icon-baseball"></i> icon-baseball</span>
            <span><i class="icon-rugby"></i> icon-rugby</span>
            <span><i class="icon-ax"></i> icon-ax</span>
            <span><i class="icon-table-tennis"></i> icon-table-tennis</span>
            <span><i class="icon-bowling"></i> icon-bowling</span>
            <span><i class="icon-tree-conifer"></i> icon-tree-conifer</span>
            <span><i class="icon-tree-deciduous"></i> icon-tree-deciduous</span>
            <span><i class="icon-more-items"></i> icon-more-items</span>
            <span><i class="icon-sort"></i> icon-sort</span>
            <span><i class="icon-filter"></i> icon-filter</span>
            <span><i class="icon-gamepad"></i> icon-gamepad</span>
            <span><i class="icon-playing-dices"></i> icon-playing-dices</span>
            <span><i class="icon-calculator"></i> icon-calculator</span>
            <span><i class="icon-tie"></i> icon-tie</span>
            <span><i class="icon-wallet"></i> icon-wallet</span>
            <span><i class="icon-piano"></i> icon-piano</span>
            <span><i class="icon-sampler"></i> icon-sampler</span>
            <span><i class="icon-podium"></i> icon-podium</span>
            <span><i class="icon-soccer-ball"></i> icon-soccer-ball</span>
            <span><i class="icon-blog"></i> icon-blog</span>
            <span><i class="icon-dashboard"></i> icon-dashboard</span>
            <span><i class="icon-certificate"></i> icon-certificate</span>
            <span><i class="icon-bell"></i> icon-bell</span>
            <span><i class="icon-candle"></i> icon-candle</span>
            <span><i class="icon-pushpin"></i> icon-pushpin</span>
            <span><i class="icon-iphone-shake"></i> icon-iphone-shake</span>
            <span><i class="icon-pin-flag"></i> icon-pin-flag</span>
            <span><i class="icon-turtle"></i> icon-turtle</span>
            <span><i class="icon-rabbit"></i> icon-rabbit</span>
            <span><i class="icon-globe"></i> icon-globe</span>
            <span><i class="icon-briefcase"></i> icon-briefcase</span>
            <span><i class="icon-hdd"></i> icon-hdd</span>
            <span><i class="icon-thumbs-up"></i> icon-thumbs-up</span>
            <span><i class="icon-thumbs-down"></i> icon-thumbs-down</span>
            <span><i class="icon-hand-right"></i> icon-hand-right</span>
            <span><i class="icon-hand-left"></i> icon-hand-left</span>
            <span><i class="icon-hand-up"></i> icon-hand-up</span>
            <span><i class="icon-hand-down"></i> icon-hand-down</span>
            <span><i class="icon-fullscreen"></i> icon-fullscreen</span>
            <span><i class="icon-shopping-bag"></i> icon-shopping-bag</span>
            <span><i class="icon-book-open"></i> icon-book-open</span>
            <span><i class="icon-nameplate"></i> icon-nameplate</span>
            <span><i class="icon-nameplate-alt"></i> icon-nameplate-alt</span>
            <span><i class="icon-vases"></i> icon-vases</span>
            <span><i class="icon-bullhorn"></i> icon-bullhorn</span>
            <span><i class="icon-dumbbell"></i> icon-dumbbell</span>
            <span><i class="icon-suitcase"></i> icon-suitcase</span>
            <span><i class="icon-file-import"></i> icon-file-import</span>
            <span><i class="icon-file-export"></i> icon-file-export</span>
            <span><i class="icon-bug"></i> icon-bug</span>
            <span><i class="icon-crown"></i> icon-crown</span>
            <span><i class="icon-smoking"></i> icon-smoking</span>
            <span><i class="icon-cloud-upload"></i> icon-cloud-upload</span>
            <span><i class="icon-cloud-download"></i> icon-cloud-download</span>
            <span><i class="icon-restart"></i> icon-restart</span>
            <span><i class="icon-security-camera"></i> icon-security-camera</span>
            <span><i class="icon-expand"></i> icon-expand</span>
            <span><i class="icon-collapse-top"></i> icon-collapse-top</span>
            <span><i class="icon-globe-af"></i> icon-globe-af</span>
            <span><i class="icon-global"></i> icon-global</span>
            <span><i class="icon-spray"></i> icon-spray</span>
            <span><i class="icon-nails"></i> icon-nails</span>
            <span><i class="icon-claw-hammer"></i> icon-claw-hammer</span>
            <span><i class="icon-classic-hammer"></i> icon-classic-hammer</span>
            <span><i class="icon-hand-saw"></i> icon-hand-saw</span>
            <span><i class="icon-riflescope"></i> icon-riflescope</span>
            <span><i class="icon-electrical-socket-eu"></i> icon-electrical-socket-eu</span>
            <span><i class="icon-electrical-socket-us"></i> icon-electrical-socket-us</span>
            <span><i class="icon-pinterest"></i> icon-pinterest</span>
            <span><i class="icon-dropbox"></i> icon-dropbox</span>
            <span><i class="icon-google-plus"></i> icon-google-plus</span>
            <span><i class="icon-jolicloud"></i> icon-jolicloud</span>
            <span><i class="icon-yahoo"></i> icon-yahoo</span>
            <span><i class="icon-blogger"></i> icon-blogger</span>
            <span><i class="icon-picasa"></i> icon-picasa</span>
            <span><i class="icon-amazon"></i> icon-amazon</span>
            <span><i class="icon-tumblr"></i> icon-tumblr</span>
            <span><i class="icon-wordpress"></i> icon-wordpress</span>
            <span><i class="icon-instapaper"></i> icon-instapaper</span>
            <span><i class="icon-evernote"></i> icon-evernote</span>
            <span><i class="icon-xing"></i> icon-xing</span>
            <span><i class="icon-zootool"></i> icon-zootool</span>
            <span><i class="icon-dribbble"></i> icon-dribbble</span>
            <span><i class="icon-deviantart"></i> icon-deviantart</span>
            <span><i class="icon-read-it-later"></i> icon-read-it-later</span>
            <span><i class="icon-linked-in"></i> icon-linked-in</span>
            <span><i class="icon-forrst"></i> icon-forrst</span>
            <span><i class="icon-pinboard"></i> icon-pinboard</span>
            <span><i class="icon-behance"></i> icon-behance</span>
            <span><i class="icon-github"></i> icon-github</span>
            <span><i class="icon-youtube"></i> icon-youtube</span>
            <span><i class="icon-skitch"></i> icon-skitch</span>
            <span><i class="icon-foursquare"></i> icon-foursquare</span>
            <span><i class="icon-quora"></i> icon-quora</span>
            <span><i class="icon-badoo"></i> icon-badoo</span>
            <span><i class="icon-spotify"></i> icon-spotify</span>
            <span><i class="icon-stumbleupon"></i> icon-stumbleupon</span>
            <span><i class="icon-readability"></i> icon-readability</span>
            <span><i class="icon-facebook"></i> icon-facebook</span>
            <span><i class="icon-twitter"></i> icon-twitter</span>
            <span><i class="icon-instagram"></i> icon-instagram</span>
            <span><i class="icon-posterous-spaces"></i> icon-posterous-spaces</span>
            <span><i class="icon-vimeo"></i> icon-vimeo</span>
            <span><i class="icon-flickr"></i> icon-flickr</span>
            <span><i class="icon-last-fm"></i> icon-last-fm</span>
            <span><i class="icon-rss"></i> icon-rss</span>
            <span><i class="icon-skype"></i> icon-skype</span>
            <span><i class="icon-email"></i> icon-email</span>
        </div>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

</body>
</html>